main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 25px 13px 25px 13px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(211, 214, 218);
  width: 60px;
  height: 60px;
}
